# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment and logs
.env
*.log

# Data or output folders
data/
outputs/
*.dta
